@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

.projects {
    padding: 3rem 1rem;
    @include tablet{
        padding: 4rem 7%;
    }
    @include desktop{
        padding: 5rem 15%;
    }
}