@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

.projects {
    margin-bottom: 3rem;
    padding: 0 1rem 3rem 1rem;
    @include tablet {
        margin: 3.5rem 7% 0 7%;
    }
    @include desktop{
        padding: 0 10% 3rem 10%;
    }
    &__title__container {
        @include section-title-container;
        margin-bottom: 4rem;
        @include tablet {
            margin-bottom: 5rem;
        }
        @include desktop{
            margin-bottom: 5rem;
        }
    }
    &__title {
        @include section-title;
    }
    &__border {
        @include section-title-border;
    }
}