@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;
.hero {
    display: flex;
    flex-direction: column;
    height: 88vh;
    justify-content: center;
    &__container1 {
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &__title{
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.6rem;
        color: $green;
        @include tablet{
            font-size: 2.3rem;
        }
        @include desktop{
            font-size: 2.5rem;
            line-height: 3.2rem;
        }
    }
    &__full__title {
        display: none;
        @include tablet{
            display: inline;
        }
    }
    &__subtitle {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2.6rem;
        @include desktop{
            font-size: 1.8rem;
            line-height: 3.2rem;
        }
    }
    &__detail {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 1.5rem 0;
        line-height: 1.5rem;
        @include tablet{
            font-weight: 600;
            margin: 2rem 0;
        }
        @include desktop{
            font-size: 1.1rem;
            margin: 2.5rem 0;
            line-height: 2rem;
        }
    }
    &__name {
        color: $green;
    }
    &__btn {
        border: solid 2px $green;
        background-color: transparent;
        color: $green;
        padding: 0.5rem 1.5rem;
        border-radius: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 0.8rem;
        cursor: pointer;
        @include desktop {
            font-size: 0.9rem;
            width: fit-content;
        }
    }
    &__statistic{
        font-size: 3.5rem;
        font-weight: bolder;
        &__detail {
            font-weight: 700;
        }
    }
    &__block{
        display: block;
    }
    &__container2{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        @include desktop{
            display: row;
        }
    }
    &__container3{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.5rem;
        text-align: end;
    }
    &__container4{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}