@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

.about {
    margin: 3rem 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin: 3.5rem 7% 10rem 7%;
        flex-direction: row;
        gap: 5rem;
    }
    @include desktop{
        padding: 0 10%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
            align-items: center;
            gap: 1.5rem;
        }
        @include desktop {
            gap: 3rem;
        }
    }
    &__info {
        margin: 2rem 0;
        @include tablet {
            order: 1;
            margin: 0;
        }
    }
    &__avatar {
        width: 65%;
        margin: 0 auto;
        @include tablet {
            order: 2;
            width: 35%;
        }
        @include desktop{
            width: 30%;
        }
    }
    &__title__container {
        @include section-title-container;
        width: fit-content;
        @include tablet {
            width: 100%;
        }
        @include desktop{
            width: 70%;
        }
    }
    &__title {
        @include section-title;
    }
    &__border {
        @include section-title-border;
    }
    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;
    }
    &__skill {
        font-size:12px;
        font-weight: 600;
        background-color: rgba(white, 0.1);
        // border-radius: 15px;
        color: white;
        padding: 0.1rem 1rem;
        text-align: center;
    }
    &__detail {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 2.5rem;
        line-height: 1.35rem;
        @include desktop {
            margin-bottom: 3rem;
            font-size: 14px;
            line-height: 1.45rem;
        }
    }
    &__btn-container {
        display: flex;
        justify-content: center;
        @include tablet {
            justify-content: start;
        }
    }
    &__btn {
        color: $green;
        border-radius: 20px;
        background-color: transparent;
        border: solid 1px $green;
        padding: 0.4rem 1.2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.7rem;
        &:hover {
            border: solid 1px white;
            color: white;
            transition: 0.5s;
        }
        @include tablet {
            font-size: 0.7rem;
            padding: 0.45rem 1.4rem;
        }
    }
    &__question {
        color: $green;
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 14px;
    }
    &__stack__title{
        margin: 2rem 0 1rem 0;
    }
}
.m__bottom{
    display: block;
    margin-bottom: 1rem;
}